html {
  box-sizing: border-box;
  background: #ffc93c;
  color: #111;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vh;
  max-height: 50vh;
}

main img {
  padding: 2rem;
  max-width: 100%;
  display: block;
}

nav {
  padding: 2rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav a {
  color: #111;
  font-size: 2rem;
  margin: 1rem;
  display: block;
  transition: transform 0.4s ease;
}

nav a:hover {
  transform: rotate(20deg);
}